<center>
<title>404 error</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
	<h1 style="font-family:Helvetica; text-decoration: none;">MeTube</h1></br>
<form action = "/q" method = "post" enctype=multipart/form-data>
	<div class="md-form active-cyan active-cyan-2 mb-3">
	  <input class="form-control" type="text"name='link' placeholder="Search" aria-label="Search">
	</div>
	</br>
	<input type='submit' class="btn btn-primary" value='Watch Without Distraction!'>
	</br>
	</br>
	<div class="jumbotron">
    <h1>MeTube, a silly webapp</h1>
    

    <h> 505 error! </h><br>
    <br>  <h4> Please copy the url from youtube/youtu.be</h4>
  </div>
</form>
</div>
</center>
