<center>
<title>MeTube</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
	<h1 style="font-family:Helvetica;">MeTube</h1></br>
<form action = "/q" method = "post" enctype=multipart/form-data>
	<div class="md-form active-cyan active-cyan-2 mb-3">
	  <input class="form-control" type="text"name='link' placeholder="Search" aria-label="Search">
	</div>
	</br>
	<input type='submit' class="btn btn-primary" value='Watch Without Distraction!'>
	</br>
	</br>
	<div class="jumbotron">
    <h1>MeTube, a silly webapp</h1>
    <p>Hi, MeTube is an app which helps you to break away from the shackles of the carefully crafted algorithms to keep you glued to youtube.</br>
    MeTube can be used just as youtube, instead of youtube.com or youtu.be put this site's link and it should work fine.</br>
    Were you watching some lecture video which was in some important playlist? No worries, you can paste the link and you can continue watching all the videos in that playlist (and even start from the moment you left, from that timestamp)</br>
    You can even start watching playlists here (by using /playlist links)</br>
    </p>
  </div>
</form>
</div>
</center>
